body {
  background: #eceef1;
  margin: 0;
}

/*------------------------------------*/
/*              Title Menu            */
/*------------------------------------*/

#sign-in-wrapper {
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  height: 60px;
  padding: 10px 30px;
  background: #eceef1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-size: 12px;
}

#already-account {
  text-align: right;
  color: #505050;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  outline: none;
}

#forgot-user {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  text-align: right;
  font-size: 12px;
  color: #0077c5;
}

#sign-in-btn {
  margin-left: 10px;
  text-align: right;
  height: 34px;
  font-size: 12px;
}

#button-sign-in {
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  font-size: 1.125em;
  font-weight: normal;
  height: 34px;
  padding: 0 20px;
  color: white;
}

#lock-img {
  height: 1em;
  width: 0.8em;
  margin-right: 6px;
  vertical-align: text-top;
  background-size: contain;
  display: inline-block;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/icon-whitelock@3x.png);
}

#logo-title {
  width: 118px;
  height: 35px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/ecosystem_logos_new.png);
  background-position: 0 0;

  margin: 0 auto;
}

#list-container {
  margin: 0 auto;
}
#list-container ul {
  text-align: center;
  padding-inline-start: 0px;
}

#icon-mint {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/mint-favicon.svg)
    no-repeat;
  width: 23px;
  height: 23px;

  margin-right: 4px;
}
#mint {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/mint-text.svg)
    no-repeat;
  width: 37px;
  height: 20px;

  margin-right: 9px;
}

#icon-quick {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/quickbooks-favicon@2x.svg)
    no-repeat;
  width: 23px;
  height: 23px;

  margin-right: 4px;
}

#quick {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/quick-books-text.svg)
    no-repeat;
  width: 98px;
  height: 22px;

  margin-right: 9px;
}

#icon-turbo {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/tt-favicon@2x.svg)
    no-repeat;
  width: 23px;
  height: 23px;

  margin-right: 4px;
}

#turbo {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/turbo-tax-text.svg)
    no-repeat;
  width: 74px;
  height: 22px;
}

#list-container li {
  display: inline-block;
  list-style: none;
  list-style-image: none;
}

/*------------------------------------*/
/*              Form box              */
/*------------------------------------*/

#form-box {
  margin: 0 auto;
  width: 380px;
  padding: 30px;
  border: 1px solid #c7c7c7;
  background-color: white;
}

#create-acc-text {
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  color: #4c4c4c;
  line-height: 1.1;
  font-size: 24px;
  padding: 0;
  text-align: center;
}

#one-acc-text {
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  padding-top: 20px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

#one-acc-text a {
  color: #0077c5;
  font-size: 12px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.label-style {
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  color: #404040;
  font-size: 14px;
  line-height: 25px;
  padding-bottom: 6px;
  display: block;
}

.input-container {
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 320px;
  height: 34px;
}

.input-style {
  color: #000;
  font-size: 1.2em;
  width: 320px;
  padding-left: 8px;
  padding-right: 6px;
  height: 34px;
  border: 1px solid #c1c5c8;
  border-radius: 3px;
  display: block;
}
